<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--就是DOCTYPE后面对应的根节点-->
<configuration>


    <!--mybatis的设置选项  可以改变mybatis运行时行为-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
   <!--设置默认执行器-->
        <!--<setting name="defaultExcutorType" value="REUSE"/>-->
        <!-- 打印sql -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>

    <!--类型别名可为 Java 类型设置一个缩写名字。 它仅用于 XML 配置，意在降低冗余的全限定类名书写-->
    <typeAliases>
        <package name="com.fksb.*.*.mapper"/>
    </typeAliases>

</configuration>